<div id="mine">
	<p> My Blog Sites:</p>
	<p>Aurthur's Blog:<a href="http://blog.gitos.cn">http://blog.gitos.cn</a> or <a href="http://myblog.gitos.cn">http://myblog.gitos.cn</a></p>
	<p> My Resume:</p>
	<p>Reusme team:<a href="http://resume.gitos.cn" target="_blank">http://resume.gitos.cn</a></p>
	<p> My other Sites:</p>
	<p>BQ team:<a href="http://bqteam.com" target="_blank">http://bqteam.com</a></p>
	<p>IT News:<a href="http://tools.bqteam.com/itnews" target="_blank">http://tools.bqteam.com/itnews</a></p>
	<p>Contact Me: </p>
	<p>Email:aurthurxlc@gmail.com</p>
	<p>Skype:xlclinkong@hotmail.com</p>
</div>
